# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
DATABASE_URL="postgresql://postgres:password@localhost:5432/siamal"

# Next Auth
# You can generate a new secret on the command line with:
# openssl rand -base64 32
# https://next-auth.js.org/configuration/options#secret
NEXTAUTH_SECRET=""
NEXTAUTH_URL="http://localhost:3000"
NEXT_PUBLIC_BASE_URL="http://localhost:3000"

# Google
GOOGLE_CLIENT_ID="xxx.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET="xxx"

# Xendit
XENDIT_SECRET_KEY="xxx"
XENDIT_WEBHOOK_TOKEN="xxx"

# Mailjet
MJ_APIKEY_PUBLIC="740c47230e6f7561f4a3b63c24a1d641" 
MJ_APIKEY_PRIVATE="88888b9202ddb3bc5530a25005253e43"